body {
  margin: 0;
  height: 200vh;
}
.relative {
  position: relative;
  top: 100px;
  left: 100px;
}

.fixed {
  position: fixed;
  top: 100px;
  left: 200px;
}

.absolute {
  position: absolute;
  top: 100px;
  left: 300px;
}

#posicao {
  background-color: blueviolet;
  position: relative;
  width: 100px;
  height: 100px;
}
